body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #302f36;
}

h1 {
    color: #ffffff;
    margin-top: 40px;
    font-size: 2.5em;
    text-shadow: 2px 2px 5px #000000;
}

button {
    padding: 15px 30px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.button-container {
    margin: 20px 0;
}

#status {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 3px #000000;
}

.emotion {
    font-size: 2em;
    margin-top: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000000;
}

.emotion.happy {
    color: #4CAF50;
}

.emotion.sad {
    color: #F44336;
}

footer {
    margin-top: 40px;
    color: #ffffff;
    font-size: 0.9em;
    text-shadow: 1px 1px 3px #000000;
}
